<!--
  Generated template for the MemberPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton>
    <div>
      <button class="cancelIcon" navPop></button>
      <img class="backgroundImg" src="assets/imgs/headbackground.png" />
      <div class="card-title">
        <img class="headerImg" src="{{account_login_avatar==null?'assets/imgs/timg1.jpg':account_login_avatar}}" alt="" />
        <p>{{account_login_name}}</p>
      </div>

    </div>
  </ion-navbar>
  <ion-toolbar style="min-height: 68px;background: #fff;">
    <div claas="tabsLsit">
      <ion-segment style="background: #fff;" [(ngModel)]="pet">
        <ion-segment-button style="color:#666;height: 68px;" value="puppies">
          <div class="tabContent">
            <div style="height: 2rem;">
              <!-- public clicount: any = "";
              public follow: any = "";
              public nofollow: any = ""; -->
              <img src="assets/font/private.svg" alt="">
            </div>
            私海客户 <span>{{clicount}}</span>
          </div>
        </ion-segment-button>
        <ion-segment-button style="color:#666;height: 68px;" value="fllow">
          <div class="tabContent">
            <div style="height: 2rem;">
              <img src="assets/font/floowUp.svg" alt="">
            </div>
            已跟进 <span>{{follow}}</span>
          </div>
        </ion-segment-button>
        <ion-segment-button style="color:#666;height: 68px;" value="nofllow">
          <div class="tabContent">
            <div style="height: 2rem;">
              <img src="assets/font/nofllowUp.svg" alt="">
            </div>
            未跟进 <span>{{nofollow}}</span>
          </div>
        </ion-segment-button>
      </ion-segment>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" pullMax="500">
    <ion-refresher-content pullingText="下拉刷新" refreshingText="加载数据中...">
    </ion-refresher-content>
  </ion-refresher>
  <div [ngSwitch]="pet">
    <ion-card *ngSwitchCase="'puppies'">
      <ion-list *ngFor="let item of memberList">
        <ion-item>
          <ion-avatar item-start>
            <img src="{{item.customer_avatar==null?'assets/imgs/timg1.jpg':item.customer_avatar}}">
          </ion-avatar>
          <h2>{{item.customer_name}}</h2>
          <p> 客户类型: <span>{{item.customer_type_id}}</span> </p>
          <p> 客户需求:<span> {{item.customer_needs_id}}</span> </p>
          <p item-right class="time">{{item.receive_time}}</p>
          <button class="btnStyle" [class.btnNotFollow]="item.status==1" [class.btnFollowUp]="item.receive_time==2" ion-button>{{item.status==1?"未跟进":"继续跟进"}}</button>
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-card *ngSwitchCase="'fllow'">
      <ion-list *ngFor="let item of fllowList">
        <ion-item>
          <ion-avatar item-start>
            <img src="{{item.customer_avatar==null?'assets/imgs/timg1.jpg':item.customer_avatar}}">
          </ion-avatar>
          <h2>{{item.customer_name}}</h2>
          <p> 客户类型: <span>{{item.customer_type_id}}</span> </p>
          <p> 客户需求:<span> {{item.customer_needs_id}}</span> </p>
          <p item-right class="time">{{item.receive_time}}</p>
          <button class="btnStyle" [class.btnNotFollow]="item.status==1" [class.btnFollowUp]="item.receive_time==2" ion-button>{{item.status==1?"未跟进":"继续跟进"}}</button>
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-card *ngSwitchCase="'nofllow'">
      <ion-list *ngFor="let item of nofllowList">
        <ion-item>
          <ion-avatar item-start>
            <img src="{{item.customer_avatar==null?'assets/imgs/timg1.jpg':item.customer_avatar}}">
          </ion-avatar>
          <h2>{{item.customer_name}}</h2>
          <p> 客户类型: <span>{{item.customer_type_id}}</span> </p>
          <p> 客户需求:<span> {{item.customer_needs_id}}</span> </p>
          <p item-right class="time">{{item.receive_time}}</p>
          <button class="btnStyle" [class.btnNotFollow]="item.status==1" [class.btnFollowUp]="item.receive_time==2" ion-button>{{item.status==1?"未跟进":"继续跟进"}}</button>
        </ion-item>
      </ion-list>

    </ion-card>

  </div>


</ion-content>
