page-private-floow {
  .scroll-content {
    background-color: #F8F6F5;
    margin-top: 110px !important;
  }
  .list-ios>.item-block:last-child,
  .list-ios>.item-wrapper:last-child .item-block {
    border-bottom: 0;
  }
  .list-ios>.item-block:first-child {
    border: 0
  }
  ion-avatar {
    padding-left: 0.7rem;
  }
  .item-ios ion-avatar ion-img,
  .item-ios ion-avatar img {
    width: 45px;
    height: 45px;
  }
  .card-ios,
  .card-md {
    margin: 0px 0px 10px;
    width: 100%;
  }
  .item-ios,
  .item-md {
    padding: 0;
  }
  ion-item div {
    padding-left: 0.6rem;
  }
  .leftList {
    font-size: 16px;
    color: #333;
    line-height: 35PX;
    font-weight: bold;
  }
  .rightLsit {
    float: right;
    font-size: 15px;
    color: #666666;
    line-height: 35px;
  }
  .address {
    padding-left: 0;
    font-size: 15px;
    color: #666666;
    line-height: 40px;
  }
  .footer {
    height: 50px;
    width: 100%;
    background: #F8F8F8;
    line-height: 50px;
    box-shadow: 0 -1px 0 0 #DDDDDD, 0 0 4px 0 rgba(0, 0, 0, 0.10);
  }
  .footer button {
    width: 15%;
    height: 35px;
    color: #fff;
    background-color: #F4544F;
    font-size: 16px;
    border-radius: 4px;
    margin-left: 2%
  }
  .importInfo {
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    height: 36px;
    padding-left: 8px;
    width: 80%;
    margin-left: 1.5%
  }
}
