page-private-floow {
  .scroll-content {
    background-color: #F8F6F5;
    margin-top: 110px !important;
  }
  .list-ios>.item-block:last-child,
  .list-ios>.item-wrapper:last-child .item-block {
    border-bottom: 0;
  }
  .list-ios>.item-block:first-child {
    border: 0
  }
  ion-avatar {
    padding-left: 0.7rem;
  }
  .item-ios ion-avatar ion-img,
  .item-ios ion-avatar img {
    width: 45px;
    height: 45px;
  }
  .card-ios,
  .card-md {
    margin: 0px 0px 10px;
    width: 100%;
  }
  .item-ios,
  .item-md {
    padding: 0;
  }
  ion-item div {
    padding-left: 0.6rem;
  }
  .leftList {
    font-size: 16px;
    color: #333;
    line-height: 35PX;
    font-weight: bold;
  }
  .rightLsit {
    float: right;
    font-size: 15px;
    color: #666666;
    line-height: 35px;
  }
  .address {
    padding-left: 0;
    font-size: 15px;
    color: #666666;
    line-height: 40px;
  }
  .footer {
    height: 50px;
    line-height: 50px;
    width: 100%;
    background: #F8F8F8;
    line-height: 50px;
    box-shadow: 0 -1px 0 0 #DDDDDD, 0 0 4px 0 rgba(0, 0, 0, 0.10);
  }
  .footer button {
    width: 15%;
    height: 35px;
    color: #fff;
    background-color: #F4544F;
    font-size: 16px;
    border-radius: 4px;
    margin-left: 2%;
  }
  .importInfo {
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    height: 36px;
    padding-left: 8px;
    width: 80%;
    margin-left: 1.5%;
  }
  .spanbox {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    font-size: 13px;
    padding-left: 22px;
    color: #666666;
    padding-right: 10px;
  }
  .nickname {
    background: url('../assets/imgs/linkcantas.png') no-repeat 0.2rem 0.4rem;
  }
  .phoneNumber {
    background: url('../assets/imgs/phone.png') no-repeat 0.2rem 0.4rem;
  }
  .weChat {
    background: url('../assets/imgs/wachat.png') no-repeat 0.2rem 0.4rem;
  }
  @media screen and (min-height:568px) {
    .messge {
      width: 70%;
    }
  }
  .messge {
    background: #FFFFFF;
    border: 1px solid #EFEFF4;
    border-radius: 5px;
    padding: 0.8rem;
    margin-right: 1rem;
    font-size: 14px;
    color: #333333;
    line-height: 20px;
    position: relative;
    width: 72%;
  }
  .arraws {
    position: absolute;
    top: 20px;
    left: -5px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -moz-transform: rotate(45deg);
    /* Firefox */
    -webkit-transform: rotate(45deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(45deg);
  }
  .time {
    font-size: 12px;
    color: #999999;
    margin-right: 0.5rem;
  }
  .Roundcake_Box {
    // position: relative;
    // top: 3.2rem;
    // left: 0.8rem;
    // width: 20%;
    line-height: 60px;
    padding-left: 1rem;
  }
  .Roundcake {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: #DDDDDD;
    border-radius: 50%;
    position: relative;
  }
}
