<!--
  Generated template for the PrivateFloowPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>跟进情况</ion-title>

  </ion-navbar>

  <!-- <ion-toolbar style="min-height: 60px;
  background: #fff;">

  </ion-toolbar> -->
  <!-- this.customer_id = this.fllowUpObj['customer_id'];
  this.followUpAvatar = this.fllowUpObj['avatar'];
  this.followUpPhone = this.fllowUpObj['phone'];
  this.followUpWechat = this.fllowUpObj['wechat'];
  this.followUpName = this.fllowUpObj['name'];
  this.followUpLinkCantact = this.fllowUpObj['linkCantact']; -->
  <ion-card>
    <ion-list>
      <ion-item ion-item>
        <ion-avatar item-start>
          <img src="{{followUpAvatar==''?'assets/imgs/timg1.jpg':followUpAvatar}}">
        </ion-avatar>
        <h2>{{followUpName}}</h2>
        <p style="width:100%" class="client">
          <span *ngIf="followUpLinkCantact==''?false:true" class="nickname spanbox">{{followUpLinkCantact}}</span>
          <span (click)="link()" *ngIf="followUpPhone==''?false:true" class="phoneNumber spanbox ">{{followUpPhone}}</span>
          <span *ngIf="followUpWechat==''?false:true" class="weChat spanbox "> {{followUpWechat}}</span></p>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-header>


<ion-content>
  <div style="overflow:hidden" *ngFor="let item of followUpList let i = index">
    <p style="text-align:center;font-size: 12px;
    color: #999999;
    line-height: 16px;">{{item.follow_up_time}}</p>
    <div style="height:62px;line-height:62px;position:relative">
      <div class="Roundcake_Box" style="float:left">
        <span class="time">{{item.follow_up_time | timepipe }}</span>

        <span class="Roundcake">
          <i *ngIf="i==0" class="redCicle"></i>
        </span>

      </div>

      <div class="messge" style="float:right;">
        <span class="arraws">
              </span> {{item.follow_up_name}}
      </div>
    </div>

  </div>
  <!-- <div>
    <img src="assets/imgs/nosearch.png" alt="">
  </div> -->
  <div *ngIf="isNoData" style="width:50%;margin:0 auto;text-align:center;margin-top:13rem">
    <img style="width:50%;height:50%;" src="assets/imgs/nochat.png" alt="">
    <div style=" font-size: 16px;
    color: #666666;
    margin-top: 5px;">暂无跟进记录</div>
  </div>
</ion-content>
<ion-footer class="footer">
  <input [(ngModel)]="message" class="importInfo" type="text" placeholder="记录当前跟进客户情况"><button (click)="setrecord()"> 记录</button>
</ion-footer>
