<ion-header>
  <ion-navbar>
    <div>
      <span class="notifications" item-right>
                    <img src="assets/font/seting.svg" (click)="goPensonSeting()" item-left>
                  </span>
      <img class="backgroundImg" src="assets/imgs/headbackground.png" />
      <div class="card-title">
        <img class="headerImg" src="{{avatarUrl==null?'assets/imgs/timg1.jpg':avatarUrl}}" alt="" />
        <p>{{name}}</p>
      </div>

    </div>

  </ion-navbar>
  <ion-toolbar style="min-height: 68px;background: #fff;">
    <div claas="tabsLsit">
      <ion-segment style="background: #fff;border:1px solid #ddd" [(ngModel)]="pet">
        <ion-segment-button style="color:#666;height: 68px;" value="privateClient">
          <div class="tabContent">
            <div style="height: 2rem;">
              <!-- <ion-icon name="cog" item-left></ion-icon> -->
              <img src="assets/font/private.svg" alt="">
            </div>
            私海客户 <span>{{privateCilent==null?'0':privateCilent}}</span>
          </div>
        </ion-segment-button>
        <ion-segment-button style="color:#666;height: 68px;" value="followUp">
          <div class="tabContent">
            <div style="height: 2rem;">
              <img src="assets/font/floowUp.svg" alt="">
            </div>
            已跟进 <span>{{follow==null?'0':follow}}</span>
          </div>
        </ion-segment-button>
        <ion-segment-button style="color:#666;height: 68px;" value="nofollowUp">
          <div class="tabContent">
            <div style="height: 2rem;">
              <img src="assets/font/nofllowUp.svg" alt="">
            </div>
            未跟进 <span>{{nofollow==null?'0':nofollow}}</span>
          </div>
        </ion-segment-button>
        <ion-segment-button [hidden]="isRoleid" style="color:#666;height: 68px;width:25%" value="grounplist">
          <div class="tabContent">
            <div style="height: 2rem;">
              <img src="assets/font/group.svg" alt="">
            </div>
            团队成员 <span>{{grounp==null?'0':grounp}}</span>
          </div>
        </ion-segment-button>
      </ion-segment>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" pullMax="500">
    <ion-refresher-content pullingText="下拉刷新" refreshingText="加载数据中...">
    </ion-refresher-content>
  </ion-refresher>
  <div [ngSwitch]="pet">
    <div *ngSwitchCase="'privateClient'">
      <ion-card>
        <ion-list *ngFor="let item of privateClientList">
          <ion-item style="border:none" (click)="goClientDetails(item)">
            <ion-avatar item-start>
              <img src="{{item.customer_avatar==null?'assets/imgs/timg1.jpg':item.customer_avatar==''?'assets/imgs/timg1.jpg':item.customer_avatar}}">
            </ion-avatar>
            <h2>{{item.customer_name}}</h2>
            <p> 客户类型: <span>{{item.customer_type_id | clienttypepipe }}</span> </p>
            <p> 客户需求:<span> {{item.customer_needs_id | clientneedpipe   }}</span> </p>
            <p item-right class="time">{{item.receive_time}}</p>
            <button class="btnStyle" [class.btnNotFollow]="item.follow==0" [class.btnFollowUp]="item.follow>0" ion-button>{{item.follow==0?"未跟进":"继续跟进"}}</button>
          </ion-item>
        </ion-list>

      </ion-card>
      <div class="nodata" style="text-align:center" *ngIf="noMoreData1">
        没有更多数据显示了...
      </div>
      <ion-infinite-scroll (ionInfinite)="doInfinite1($event)">
        <ion-infinite-scroll-content loadingIcon="arrow-dropdown" loadingText="加载更多..." *ngIf="noLoading1">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
      <div *ngIf="privatenoData" style="width:50%;margin:0 auto;text-align:center;margin-top:0.5rem;">
        <img style="width:50%;height:50%;margin-left:5px" src="assets/imgs/nodata.png" alt="">
        <div style=" font-size: 16px;
                color: #666666;
                margin-top: 5px;">暂未领取客户信息</div>
        <div style=" font-size: 16px;
                color: #666666;
                margin-top: 5px;">请至公海领取</div>
      </div>
    </div>
    <div *ngSwitchCase="'followUp'">
      <ion-card>
        <ion-list *ngFor="let item of fllowClientList">
          <ion-item style="border:none" (click)="goClientDetails(item)">
            <ion-avatar item-start>
              <img src="{{item.customer_avatar==null?'assets/imgs/timg1.jpg':item.customer_avatar==''?'assets/imgs/timg1.jpg':item.customer_avatar}}">
            </ion-avatar>
            <h2>{{item.customer_name}}</h2>
            <p> 客户类型: <span>{{item.customer_type_id | clienttypepipe }}</span> </p>
            <!-- <p> 客户类型: <span>{{item.customer_type_id  }}</span> </p> -->
            <p> 客户需求:<span> {{item.customer_needs_id | clientneedpipe   }}</span> </p>
            <p item-right class="time">{{item.receive_time}}</p>
            <button class="btnStyle" [class.btnNotFollow]="item.follow==0" [class.btnFollowUp]="item.follow>=0" ion-button>{{item.follow==0?"未跟进":"继续跟进"}}</button>
          </ion-item>
        </ion-list>


      </ion-card>
      <div class="nodata" style="text-align:center" *ngIf="noMoreData2">
        没有更多数据显示了...
      </div>
      <ion-infinite-scroll (ionInfinite)="doInfinite2($event)">
        <ion-infinite-scroll-content loadingIcon="arrow-dropdown" loadingText="加载更多..." *ngIf="noLoading2">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
      <div *ngIf="followData" style="width:50%;margin:0 auto;text-align:center;margin-top:0.5rem;">
        <img style="width:50%;height:50%;margin-left:5px" src="assets/imgs/nodata.png" alt="">
        <div style=" font-size: 16px;
                  color: #666666;
                  margin-top: 5px;">暂未跟进客户信息</div>
      </div>

    </div>
    <div *ngSwitchCase="'nofollowUp'">
      <ion-card>
        <ion-list *ngFor="let item of nofllowClientList">
          <ion-item style="border:none" (click)="goClientDetails(item)">
            <ion-avatar item-start>
              <img src="{{item.customer_avatar==null?'assets/imgs/timg1.jpg':item.customer_avatar==''?'assets/imgs/timg1.jpg':item.customer_avatar}}">
            </ion-avatar>
            <h2>{{item.customer_name}}</h2>
            <p> 客户类型: <span>{{item.customer_type_id | clienttypepipe }}</span> </p>
            <!-- <p> 客户类型: <span>{{item.customer_type_id  }}</span> </p> -->
            <p> 客户需求:<span> {{item.customer_needs_id | clientneedpipe   }}</span> </p>
            <p item-right class="time">{{item.receive_time}}</p>
            <button class="btnStyle" [class.btnNotFollow]="item.follow==0" [class.btnFollowUp]="item.follow>0" ion-button>{{item.follow==0?"未跟进":"继续跟进"}}</button>
          </ion-item>
        </ion-list>


      </ion-card>
      <div class="nodata" style="text-align:center" *ngIf="noMoreData3">
        没有更多数据显示了...
      </div>
      <ion-infinite-scroll (ionInfinite)="doInfinite3($event)">
        <ion-infinite-scroll-content loadingIcon="arrow-dropdown" loadingText="加载更多..." *ngIf="noLoading3">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
      <div *ngIf="nofollowUp" style="width:50%;margin:0 auto;text-align:center;margin-top:0.5rem;">
        <img style="width:50%;height:50%;margin-left:5px" src="assets/imgs/nodata.png" alt="">
        <div style=" font-size: 16px;
                  color: #666666;
                  margin-top: 5px;">暂无未跟进客户信息</div>

      </div>

    </div>
    <div *ngSwitchCase="'grounplist'">
      <ion-card>
        <ion-list style="margin-top:0" *ngFor="let item of groupList">
          <ion-item style="border:none" (click)="goMemberPage(item)">
            <ion-avatar item-start>
              <img src="{{item.account_login_avatar==null?'assets/imgs/timg1.jpg':item.account_login_avatar==''?'assets/imgs/timg1.jpg':item.account_login_avatar}}">
            </ion-avatar>
            <h2>{{item.account_login_name}}</h2>
            <p class="group">私海客户:{{item.clicount==null?'0':item.clicount}}</p>
          </ion-item>
        </ion-list>



      </ion-card>
      <div class="nodata" style="text-align:center" *ngIf="noMoreData4">
        没有更多数据显示了...
      </div>
      <ion-infinite-scroll (ionInfinite)="doInfinite4($event)">
        <ion-infinite-scroll-content loadingIcon="arrow-dropdown" loadingText="加载更多..." *ngIf="noLoading4">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
      <div *ngIf="groupData" style="width:50%;margin:0 auto;text-align:center;margin-top:0.5rem;">
        <img style="width:50%;height:50%;margin-left:5px" src="assets/imgs/nodata.png" alt="">
        <div style=" font-size: 16px;
                    color: #666666;
                    margin-top: 5px;">暂无未跟进客户信息</div>
      </div>

    </div>
  </div>


</ion-content>
