page-head-seting {
  .scroll-content {
    background-color: #F8F6F5;
  }
  .list-ios>.item-block:last-child,
  .list-ios>.item-wrapper:last-child .item-block {
    border-bottom: 0;
  }
  .list-ios>.item-block:first-child {
    border: 0
  }
  ion-avatar {
    padding-left: 0.7rem;
  }
  .item-ios ion-avatar ion-img,
  .item-ios ion-avatar img {
    width: 45px;
    height: 45px;
  }
  .card-ios,
  .card-md {
    margin: 10px 0px 10px;
    width: 100%;
  }
  .item-ios,
  .item-md {
    padding: 0;
  }
  .input-wrapper {
    padding-left: 0.6rem;
  }
  ion-item div {
    padding-left: 0.6rem;
  }
  .exit_Btn {
    width: 90%;
    height: 44px;
    border-radius: 22px;
    text-align: center;
    margin-left: 5%;
    margin-top: 3rem;
    line-height: 44px;
    background-color: #FB5651;
  }
  .exit_Btn span {
    font-size: 18px;
    color: #FFFFFF;
  }
  .action-sheet-ios .action-sheet-button .button-inner {
    color: #333;
  }
}
