page-client-address {
  .item-cover,
  .city-picker-text {
    padding-right: 2rem;
  }
  .scroll-content {
    background-color: #F8F6F5;
  }
  .input_name {
    min-height: 88px;
    background: #FFFFFF;
    border: 0;
    padding-left: 1rem;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.10);
  }
}
