page-private-cilent-details {
  ion-label {
    white-space: normal;
  }
  .scroll-content {
    background-color: #F8F6F5;
  }
  .list-ios>.item-block:last-child,
  .list-ios>.item-wrapper:last-child .item-block {
    border-bottom: 0;
  }
  .list-ios>.item-block:first-child {
    border: 0
  }
  .multi-picker-text,
  .multi-picker-placeholder {
    color: #666;
  }
  ion-avatar {
    padding-left: 0.7rem;
  } // .item-ios.item-block .item-inner {
  //   border: 0!important;
  // }
  .item-ios ion-avatar ion-img,
  .item-ios ion-avatar img {
    width: 45px;
    height: 45px;
  }
  .card-ios,
  .card-md {
    margin: 10px 0px 10px;
    width: 100%;
  }
  .item-ios,
  .item-md {
    padding: 0;
  }
  .input-wrapper {
    padding-left: 0.6rem;
  }
  ion-item div {
    padding-left: 0.6rem;
  }
  .head {
    position: relative;
    top: -35px;
  }
  .leftList {
    font-size: 16px;
    color: #333;
    line-height: 35PX;
  }
  .rightLsit {
    float: right;
    font-size: 15px;
    color: #666666;
    line-height: 35px;
  }
  .address {
    padding-left: 0;
    font-size: 15px;
    color: #666666;
    line-height: 40px;
  }
  .alert-ios .alert-button {
    color: #333
  }
}
